.home-section {
    min-height: 100vh;
    /*     padding-top: 13vh;
 */
    min-width: 100%;
}
.hero-section {
    min-height: 9em;
    width: 100%;
    background-color: var(--mustard);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.hero-wrapper {
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-hero {
    color: transparent;
    animation: fade-header;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transform: translateX(-20%);
}
.hero-text {
    padding: 5px 0 0 5px;
    text-align: center;
}
.hero-desc {
    display: flex;
    align-items: center;
}
@keyframes fade-header {
    0% {
    }

    30%,
    50% {
        transform: translateX(6%);
    }
    30%,
    70% {
        color: white;
    }
    50%,
    100% {
        transform: translateX(0%);
    }

    70%,
    100% {
    }
}

.rain-lines {
    animation: line-width;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    height: 0.1em;
    background-color: transparent;
}
@keyframes line-width {
    0% {
        width: 0vw;
    }
    70% {
        width: 25vw;
        background-color: white;
    }
    100% {
        width: 25vw;
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        min-height: 5em;
    }
}

/* ************** SECTIONS BOX***************** */

.sections-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3% 2%;
    justify-content: space-between;
}
.sections-box {
    justify-content: space-between;
    border: 1px solid var(--mustard);
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 500px;
    min-height: 35vh;
    align-items: center;
}
.sections-box > * {
    padding: 1rem 0.8rem;
}
.section-body {
    position: relative;
}
.section-header {
    position: relative;
    font-size: 1.2rem;
    top: 0;
    width: 100%;
}

.section-header > h1 {
    color: black;
    text-align: center;
    display: flex;
}
.sections-box > a {
    text-decoration: none;
    /*     color: var(--white); */
}

@media screen and (max-width: 600px) {
    .sections-box {
        min-height: 30vh;
    }
}

.sections-box > img {
    position: relative;
    flex: 1 1 0;
}
.section-link > a {
    text-decoration: none;
    text-align: end;
    background-color: var(--mustard);
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 50px;
}
.section-link > a:hover {
    background-color: black;
    color: var(--mustard);
    transition: all ease-in-out 0.4s;
}

.section-link {
    text-align: right;
    padding: 0.5rem;
}
