.footbar {
    background-color: var(--mustard);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    color: white;
}
.footer-logo img {
    background-color: white;
    height: 6vh;
    border-radius: 50%;
    border: 2px solid white;
    transform: rotate(-15deg);
}
.social-media {
    display: flex;
    padding: 0.1rem 0.2rem;
    gap: 0.7rem;
    margin-right: 5px;
    transform: translateX(-50%);
}
.social-media > a > svg {
    fill: white;
}
.social-media > a > svg:hover {
    fill: black;
}
@media screen and (max-width: 600px) {
    .social-media {
        transform: translateX(0%);
    }
}
