.navbar {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    width: 100%;
    flex-wrap: wrap;
}
.logo {
    margin-left: 3rem;
    color: white;
}
.logo > * {
    font-size: 2.5rem;
}
.logo :nth-child(1) {
    color: var(--mustard);
    text-transform: uppercase;
}

.nav-list {
    background-color: var(--mustard);
    display: flex;
    gap: 1.8rem;
    width: 100%;
    align-items: center;
    padding: 0.5rem 5vw;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: thin;
}
/* .nav-list::-webkit-scrollbar {
    display: none;
} */
.nav-list > li {
    list-style: none;
    text-transform: uppercase;
    display: flex;
}
.nav-list > li > a:hover {
    color: var(--black);
}
.nav-list > li > a {
    text-decoration: none;
    color: var(--white);
}
.nav-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
}
